root {
    --orange: #ff6900;
    --background: #171728;
    --white: #ffffff;
    --bluefooter1: #a1d1f7;
    --bluefooter2: #145593;
    --bluefooter3: #104378;
}

body {
    background-color: #171728;
    color: #ffffff;
    
}